/*
PRINCIPAIS BREAKPOINTS

320px - 480px: dispositivos móveis
481px - 768px: ipads, tablets
769px - 1024px: telas pequenas, leptops
1025px - 1200px: desktops, telas grandes (widescreen)
1201px e a cima: telas enormes (tv's)
*/

/* 1201px e a cima: Telas enormes (tv's)*/
@media screen and (max-width:1201px){
    html,body{
        overflow-x:hidden;
    }

    /*Sobre Nós*/

    #sobre{
        height: 820px;
    }

    .sobreContainer img{
        margin-left: 30%;
        margin-top: -60px;
        opacity: 0.2;
    }

    .texto{
        margin-top: -600px;
        text-align: center;
        width: 65em;
        margin-left: 80px;
    }

    .sobreContainer p{
        color: black; 
        font-weight: bold; 
        font-size: 16px; 
        margin: 1px 20px 1px; 
    }

    /*Frotas*/

    #frota{
        margin-top: -50px;
    }

}
