/*
PRINCIPAIS BREAKPOINTS

320px - 480px: dispositivos móveis
481px - 768px: ipads, tablets
769px - 1024px: telas pequenas, leptops
1025px - 1200px: desktops, telas grandes (widescreen)
1201px e a cima: telas enormes (tv's)
*/

/* 1025px - 1200px - Telas Enormes*/
@media screen and (max-width: 1024px) {
    html, body{
        overflow-x: hidden;
    }

/*Locais que deram problema no site, que precisam ser corrigidos*/

    /*Home*/
    .homeContainer h1{
        font-size: 70px;
        padding: 20px;
    }

    .homeContainer h2{
        font-size: 30px;
    }

    /*Sobre Nós*/

    .sobreContainer h1{
        margin-top: -60px;
    }

    .sobreContainer img{
        margin-left: 280px;
        opacity: 20%;
    }

    .texto{
        margin-top: -690px;
        width: 65em;
    }

    .sobreContainer p{
        font-size: 17.5px;
        color: black;
        font-weight: bold;
    }

    /*Frotas*/

    #frota{
        height: 6800px;
    }

    .frotaContainer h1{
        font-size: 40px;
        margin-top: 70px;
    }

    .frontaContainer h2{
        font-size: 30px;
    }

    .moto img{
        margin-top: -80px;
        margin-left: 28%;
    }

    .entregaMoto p{
        margin-top: -100px;
        margin-left: 130px;
        font-size: 18px;
    }

    .furgaoPequeno h1{
        margin: auto;
        margin-top: 390px;
        margin-right: 5%;
    }

    .furgaoPequeno img{
        margin-top: -99px;
        margin-left: 25%;
        height: 460px;
        width: 490px;
    }

    .furgaoPequeno p{
        margin-top: -100px;
        font-size: 18px;
        width: 40em;
        margin-left: -2px;
    }

    .furgaoMedio h1{
        margin-top: 550px;
    }

    .furgaoMedio img{
        margin-top: -80px;
        height: 460px;
        width: 490px;
        margin-left: 25%;
    }
    .furgaoMedio p{
        margin-top: -100px;
        font-size: 18px;
        width: 40em;
        margin-left: -2px;
    }
    
    .furgaoGrande h1{
        margin-top: 550px;
    }

    .furgaoGrande img{
        margin-top: -80px;
        height: 520px;
        width: 490px;
        margin-left: 25%;
    }

    .furgaoGrande p{
        margin-top: -100px;
        font-size: 18px;
        width: 40em;
        margin-left: -50px;
    }

    .vucComBau h1{
        margin-top: 620px;
    }

    .vucComBau img{
        margin-top: -100px;
        height: 520px;
        width: 490px;
        margin-left: 25%;
    }

    .vucComBau p{
        margin-top: -100px;
        font-size: 18px;
        width: 40em;
    
    }
    
    .vucSemBau h1{
        margin-top: 700px;
    }
}