/*Global*/
*{ /*Forçar o a parte web a resetar as informações*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{/*Instalar e importar uma fonte*/
    font-family:'Montserrat'; /*Tipo de fonte*/
    src: url('../font/Montserrat-Light.ttf'); /*Puxar a fonte*/
}

html{
    font-family: 'Montserrat'; /*Tipo de fonte*/
    scroll-behavior: smooth; /*Rolagem do scrool da página*/
}

textarea{ /*Controle de edição para uma caixa de texto*/
    font-family: 'Montserrat';
}

ul{
    list-style: none; /*Tirar os marcadores do lado das palavras*/
}

a{
    text-decoration: none; /*Tirar o sublinhado das palavras*/
}

p{
    font-size: 16px; /*Tamanho da fonte*/
    line-height: 6vh; /*Espaçamento das linhas de um texto*/
}

h1,h2{
    line-height: 10vh; /*Espacamento das linhas de um texto*/
}

section{ /*Separação de áreas diferentes do site*/
    padding-top: 70px; /*Espaçamento superior das bordas*/
}

iframe{ /*Tag utilizada para mexer em toda a página*/
    width: 100%; /*Largura de um elemento*/
    height: 500px; /*Altura de um elemento*/
    border: 0; /*Contorno de um elemento*/

}

span{ /*Alteração da cor de alguma palavra ou letra separadamente*/
    background-color: darkred; /*Cor da letra ou palavra*/ 
}

/*Menu Container*/

.menuContainer{
    width: 100%; /*Largura*/
    height: 61px; /*Altura*/
    position: fixed; /*Posição dos elementos*/
    background-color: #333; /*Cor de fundo*/
    box-shadow: 3px 3px 5px darkred; /*Sobreamento*/
    z-index: 7; /*Não deixar nenhum elemento se sobresair sobre ele*/
}

.menuItens{
    position: initial; /*Posição dos elementos (Direita, esquerda, centro)*/
    padding: 20px 0; /*Distância do conteúdo ds bordas*/
    display: flex; /*Posição do menu // Estilo de menu*/
    justify-content: center; /*Alinhar elementos*/
    right: center; /*Posição horizontal da borda direita*/
}

.menuItens li {
    line-height: 20px; /*Espacamento entre as linhas de um texto*/
    height: 50px; /*Altura*/
}

.menuItens li a{
    line-height: 20px; /*Espaçamento entre as linhas*/
    height: 50px; /*Altura*/
    padding: 20px 38px; /*Distancia do conteúdo das bordas*/
    color: aliceblue; /*Cor da fonte*/
    text-transform: none; /*Alterar a forma da fonte (Maiúsculo, Minúsculo etc)*/
    font-size: 18px; /*Tamanho da fonte*/
    transition: .7s; /*Tempo de transição*/
}

.menuItens li a:hover{ /*Animação do menu*/
    color: aliceblue; /*Cor da fonte*/
    background-color: darkred; /*Cor de fundo*/
    transition: .5s; /*Tempo de transição*/
}

/*Home*/

.homeContainer{
    background-image: url('/img/caminhao4.png'); /*Carregamento de imagem*/
    background-position: center; /*Define onde a imagem de fundo é posicionada*/
    background-size: cover; /*Especifica o tamanho das imagens de fundo*/
    background-attachment: fixed; /*Define se a imagem de fundo vai rolar junto com com o bloco, ou vai permanecer fixa (entre outras funções)*/
    padding: 16em 5em; /*Distância dos conteúdos das bordas*/
    text-align: center; /*Descreve como o conteúdo é alinhado no elemento pai*/
    margin-top: -10px; /*Define a margem superior de um elemento*/   
}

.homeContainer h1{
    color: aliceblue; /*Cor da fonte*/
    font-size: 70px; /*Tamanho da fonte*/
    font-weight: bold; /*Fonte negrita*/
    text-transform: uppercase; /*Deixar a fonte maiúscula*/
    text-shadow: 8px 8px 12px darkred; /*Sombreamento das fontes*/
}

.homeContainer h2{
    color: aliceblue; /*Cor da fonte*/
    font-size: 40px; /*Tamanho da fonte*/
    font-weight: bold; /*Fonte negrita*/
    text-transform: uppercase; /*Deixar a fonte maiúscula*/
    text-shadow: 8px 8px 12px darkred; /*Sombreamento das fontes*/
}


/*Sobre Nós*/

#sobre{ /*Base geral*/
    height: 720px; /*Altura total do id*/
}

.sobreContainer h1{
    font-size: 40px; /*Altura da fonte*/
    color: darkred; /*Cor da fonte*/ 
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Deixar a fonte maiúscula*/
    text-align: center; /*Deixar palavra no centro*/
}

.sobreContainer img{ 
    padding: 100px 20px; /*Distanciamento dos elementos das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
}

.texto{ /*Edição do texto em massa*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 55em; /*Largura*/
    padding: 30px; /*Distanciamento das bordas*/
}

.sobreContainer p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Fonte em negrita*/
    font-size: 15.5px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Distanciamento do texto das bordas*/
}


/*Frotas*/

#frota { /*Base geral*/
    height: 4800px; /*Altura total do id*/
    list-style: none;
    margin-top: 30px;
}

.frotaContainer{
    background-image: url('/img/frota5edit.png');
    padding: 15em 10px; /*Distância do conteúdo das bordas*/
    background-position: center; /*Define onde a imagem de fundo será posicionada*/
    background-size: cover; /*Especifica o tamanho da imagem de fundo*/
    background-attachment: scroll; /*Define se a imagem de fundo vai rolar junto com o bloco*/
    margin-top: -30px; /*Distanciamento da imagem das bordas*/
}

.frotaContainer h1{
    color: darkred; /*Cor da fonte*/
    font-size: 40px; /*Tamanho da fonte*/
    font-weight: bold; /*Negrito*/
}

.frotaContainer h2{
    color: darkred; /*Cor da fonte*/
    font-size: 25px; /*Tamanho da fonte*/
    font-weight: bold; /*Negrito*/
}

.moto h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Fonte em negrito*/
    text-transform: uppercase; /*Fonte em maíscula*/
    margin-top: 50px; /*Distanciamento do item da borda superior*/
}

.moto img{
    padding: 100px 20px; /*Distanciamento dos elementos das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -170px; /*Distanciamento do item da borda superior*/
}

.entregaMoto{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*Função para empurar um elemento para a esquerda ou direita*/
    width: 55em; /*Largura*/
    padding: 30px;/*Distanciamento das bordas*/
    margin-top: -10px; /*Distanciamento do item da borda superior*/
}

.moto p{
    color: black; /* Cor da fonte*/
    font-weight: bold; /*Fonte em negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-right: -25px;
}

.furgaoPequeno h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Fonte maiúscula*/
    margin-top: 260px; /*Distanciamento do item da borda superior*/
    margin-right: 400px; /*Distanciamento para a esquerda*/
}

.furgaoPequeno img{
    padding: 100px 20px; /*Distanciamento do elemento das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -170px; /*Distanciamento do item da borda superior*/
    height: 410px; /*Altura*/
    width: 430px; /*Largura*/
} 

.entregaFurgaoPequeno{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: right; /*Função para empurar um elemento para a esquerda ou direita*/
    width: 55em; /*Largura*/
    padding: 30px; /*Distanciamento do item das bordas*/
}

.furgaoPequeno p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Fonte em negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-top: -10px; /*Distanciamento do item da borda superior*/
    margin-left: -55px; /*Levar o item para a esquerda*/
}

.furgaoMedio h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Fonte maiúscula*/
    margin-top: 260px; /*Distanciamento da borda superior*/
}

.furgaoMedio img{
    padding: 100px 30px; /*Distanciamento do elemento das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -170px; /*Distanciamento da borda superior*/
    height: 410px; /*Altura*/
    width: 430px; /*Largura*/
}

.entregaFurgaoMedio{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: right; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 55em; /*Largura*/
    padding: 30px; /*Distanciamento do item das bordas*/
}

.furgaoMedio p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-top: -10px; /*Distanciamento da borda superior*/
    margin-left: -55px; /*Levar o item para a esquerda*/
}

.furgaoGrande h1{
    font-size: 40px; /*Tamanho fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Fonte maiúscula*/
    margin-top: 260px; /*Distanciamento da borda superior*/
}

.furgaoGrande img{
    padding: 100px 30px; /*Distanciamento do elemento das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -170px; /*Distanciamento da borda superior*/
    height: 450px; /*Altura*/
    width: 400px; /*Largura*/
}

.entregaFurgaoGrande{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: right; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 52em; /*Largura*/
    padding: 30px; /*Distanciamento do item das bordas*/
}

.furgaoGrande p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-top: -10px; /*Distanciamento da borda superior*/
    margin-left: -110px; /*Levar o item para a esquerda*/
}

.vucComBau h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Fonte maiúscula*/
    margin-top: 280px; /*Distanciamento da borda superior*/
}

.vucComBau img{
    padding: 100px 30px; /*Distanciamento das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -190px; /*Distancia da borda superior*/
    margin-left: -10px; /*Levar o item para a esquerda*/
    height: 490px; /*Altura*/
    width: 450px; /*Largura*/
}

.entregaVucComBau{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 55em; /*Largura*/
    padding: 30px; /*Distanciamento das bordas*/
}

.vucComBau p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 15px; /*Altura da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-left: -35px; /*Levar o texto para a esquerda*/
}

.vucSemBau h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Fonte maiúscula*/
    margin-top: 310px; /*Distanciamento da borda superior*/
}

.vucSemBau img{
    padding: 100px 30px; /*Distanciamento das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -160px; /*Distanciamento da borda superior*/
    height: 420px; /*Altura*/
    width: 450px; /*Largura*/
}

.entregaVucSemBau{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 53em; /*Largura*/
    padding: 30px; /*Distanciamento das bordas*/
}

.entregaVucSemBau p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Fonte negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-left: -37px; /*Arrastar o texto para a esquerda*/
    margin-top: -15px; /*Distanciamento da borda superior*/
}

.bauM h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Fonte negrito*/
    text-transform: uppercase; /*Fonte maiúscula*/
    margin-top: 280px; /*Distanciamento da borda superior*/
}

.bauM img{
    padding: 100px 30px; /*Distanciamento do elemento das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -140px; /*Distanciamento do elemento da borda superior*/
    height: 450px; /*Altura*/
    width: 370px; /*Largura*/
    margin-left: 30px /*Arrastar o elemento para a esquerda*/
}

.entregaBauM{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 55em; /*Largura*/
    padding: 28px; /*Distanciamento das bordas*/
}

.bauM p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-left: 8px; /*Empurrar o elemento para a esquerda*/
}

.bauG h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Fonte maiúscula*/
    margin-top: 335px; /*Distanciamento da borda superior*/
}

.bauG img{
    padding: 100px 30px; /*Distanciamento das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -150px; /*Distanciamento da borda superior*/
    height: 480px; /*Altura*/
    width: 380px; /*Largura*/
    margin-left: 28px; /*Empurar o elemento para a esquerda*/
}

.entregaBauG{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 55em; /*Largura*/
    padding: 20px; /*Distanciamento das bordas*/ 
}

.bauG p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-left: 10px; /*Empurrar o elemento para a esquerda*/
}

.bauGG h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Texto maiúsculo*/
    margin-top: 390px; /*Distanciamento da borda superior*/
}

.bauGG img{
    padding: 100px 30px; /*Distanciamento do elemento da bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -160px; /*Distanciamento da borda superior*/
    height: 510px; /*Altura*/
    width: 450px; /*Largura*/
}

.entregaBauGG{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 52em; /*Largura*/
    padding: 20px; /*Distanciamento das bordas*/
    margin-top: 10px; /*Distanciamento da borda superior*/
}

.bauGG p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-left: -20px; /*Arrastar o elemento para a esquerda*/
}

.carreta h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização  da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Fonte em negrito*/
    text-transform: uppercase; /*Fonte em letra maiúscula*/
    margin-top: 340px; /*Distanciamento da borda superior*/
    margin-right: 450px; /*Arrastar o elemento para a esquerda*/
}

.carreta img{
    padding: 100px 30px; /*Distanciamento do elemento das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -160px; /*Distanciamento da borda superior*/
    height: 420px; /*Altura*/
    width: 400px; /*Largura*/
    margin-left: 25px; /*Arrastar a imagem para a esquerda*/
}

.entregaCarreta{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 50em; /*Largura*/
    padding: 10px; /*Distanciamento das bordas*/
}

.carreta p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
    margin-left: 15px; /*Arrastar o item para a esquerda*/
}

.rodotrem h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    text-transform: uppercase; /*Fonte maiúscula*/
    margin-top: 300px; /*Distanciamento da borda superior*/
}

.rodotrem img{
    padding: 100px 30px; /*Distanciamento dos elementos das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/ 
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    height: 480px; /*Altura*/
    width: 420px; /*Largura*/
    margin-top: -110px; /*Distanciamento da borda superior*/
}

.entregaRodotrem{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 53em; /*Largura*/
    padding: 10px; /*Distanciamento das bordas*/
}

.rodotrem p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Definir a forma de distancimanento das margens*/
}

/*Localização*/

#localizacao{
    height: 1250px; /*Altura total do id*/
}

.localizacaoEmpresa h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    text-transform: uppercase; /*Fonte maiúscula*/
}

.localizacaoEmpresa img{
    height: 180px;/*Altura*/
    margin-top: 30px; /*Distanciamento da borda superior*/
    margin-left: 300px; /*Arrastar para a esquerda*/
}


.localizacaoEmpresa h2{
    font-size: 25px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    text-transform: uppercase; /*Fonte maiúscula*/
}

.localizacaoEmpresa p{
    text-align: center; /*centralização*/
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    font-size: 19px; /*Tamanho da fonte*/
    margin-top: 70px; /*Distanciamento da margem superior*/
}

.maps{
    margin-top: 50px; /*Distanciamento da borda superior*/
    width: 100%; /*Largura*/
    height: 500px; /*Altura*/
}

/*Contato*/

#contato{
    height: 990px; /*Altura total do id*/
    margin-top: -50px; /*distanciamento da borda superior*/
}

.contatoEmpresa h1{
    font-size: 40px; /*Tamanho da fonte*/
    text-align: center; /*Centralização do texto*/
    color: darkred; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    text-transform: uppercase; /*Fonte maiúscula*/
}

.contatoEmpresa p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    text-align: center; /*Centralização do texto*/
    margin-top: 40px; /*Distanciamento da borda superior*/
    font-size: 19px; /*Tamanho da fonte*/
}

.contatoTransp h2{
    font-size: 20px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    font-weight: bold; /*Negrito*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    text-transform: uppercase; /*Maiúsculo*/
    margin-top: -200px; /*Distanciamento da borda superior*/
    
}

.contatoTransp ul{
    display: flex; /*Deixar os objetos em linha*/
    justify-content: center; /*Centralização das imagens*/
}

.contatoTransp ul a{
    display: block; /*Posicionamento em uma nova linha*/
    padding: 10px; /*Distanciamento dos elementos*/
}

.contatoTransp ul li a img{
    max-width: 70px; /*tamanho dos elementos*/
    margin-top: 20px; /*distanciamento da borda superior*/
}

.contatoTransp ul li a img:hover{
    filter: invert(30%); /*Filtro de inversão de cores*/
    background-color: aliceblue; /*Cor do elemento*/
    border-radius: 100px; /*Borda arredondada*/
    padding: 10px; /*Distanciamento do elemento na transição*/
    transition: .6s; /*Efeito de transição*/
}

.register{
    height: 50px; /*Altura */
}
.register h2{
    text-align: center; /*Centralização da frase*/
    margin-top: 20px; /*Distanciamento da borda superior*/
    font-weight: bold; /*Negrito*/
    color: black; /*Cor da fonte*/
    font-size: 14px; /*tamanho da fonte*/
}

