/*Global*/
*{ /*Forçar o a parte web a resetar as informações*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{/*Instalar e importar uma fonte*/
    font-family:'Montserrat'; /*Tipo de fonte*/
    src: url('../font/Montserrat-Light.ttf'); /*Puxar a fonte*/
}

html{
    font-family: 'Montserrat'; /*Tipo de fonte*/
    scroll-behavior: smooth; /*Rolagem do scrool da página*/
}

textarea{ /*Controle de edição para uma caixa de texto*/
    font-family: 'Montserrat';
}

ul{
    list-style: none; /*Tirar os marcadores do lado das palavras*/
}

a{
    text-decoration: none; /*Tirar o sublinhado das palavras*/
}

p{
    font-size: 16px; /*Tamanho da fonte*/
    line-height: 6vh; /*Espaçamento das linhas de um texto*/
}

h1,h2{
    line-height: 10vh; /*Espacamento das linhas de um texto*/
}

section{ /*Separação de áreas diferentes do site*/
    padding-top: 70px; /*Espaçamento superior das bordas*/
}

iframe{ /*Tag utilizada para mexer em toda a página*/
    width: 100%; /*Largura de um elemento*/
    height: 500px; /*Altura de um elemento*/
    border: 0; /*Contorno de um elemento*/
}

span{ /*Alteração da cor de alguma palavra ou letra separadamente*/
    background-color: darkred; /*Cor da letra ou palavra*/ 
}

/*Menu Container*/

.menuContainer{
    width: 100%; /*Largura*/
    height: 61px; /*Altura*/
    position: fixed; /*Posição dos elementos*/
    background-color: #333; /*Cor de fundo*/
    box-shadow: 3px 3px 5px darkred; /*Sobreamento*/
}

.menuItens{
    position: initial; /*Posição dos elementos (Direita, esquerda, centro)*/
    padding: 20px 0; /*Distância do conteúdo ds bordas*/
    display: flex; /*Posição do menu // Estilo de menu*/
    justify-content: center; /*Alinhar elementos*/
    right: center; /*Posição horizontal da borda direita*/
}

.menuItens li {
    line-height: 20px; /*Espacamento entre as linhas de um texto*/
    height: 50px; /*Altura*/
}

.menuItens li a{
    line-height: 20px; /*Espaçamento entre as linhas*/
    height: 50px; /*Altura*/
    padding: 20px 38px; /*Distancia do conteúdo das bordas*/
    color: aliceblue; /*Cor da fonte*/
    text-transform: none; /*Alterar a forma da fonte (Maiúsculo, Minúsculo etc)*/
    font-size: 18px; /*Tamanho da fonte*/
    transition: .7s; /*Tempo de transição*/
}

.menuItens li a:hover{ /*Animação do menu*/
    color: aliceblue; /*Cor da fonte*/
    background-color: darkred; /*Cor de fundo*/
    transition: .5s; /*Tempo de transição*/
}

/*Home*/

.homeContainer{
    background-image: url('/img/caminhao4.png'); /*Carregamento de imagem*/
    background-position: center; /*Define onde a imagem de fundo é posicionada*/
    background-size: cover; /*Especifica o tamanho das imagens de fundo*/
    background-attachment: fixed; /*Define se a imagem de fundo vai rolar junto com com o bloco, ou vai permanecer fixa (entre outras funções)*/
    padding: 16em 5em; /*Distância dos conteúdos das bordas*/
    text-align: center; /*Descreve como o conteúdo é alinhado no elemento pai*/
    margin-top: -10px; /*Define a margem superior de um elemento*/   
}

.homeContainer h1{
    color: aliceblue; /*Cor da fonte*/
    font-size: 70px; /*Tamanho da fonte*/
    font-weight: bold; /*Fonte negrita*/
    text-transform: uppercase; /*Deixar a fonte maiúscula*/
    text-shadow: 8px 8px 12px darkred; /*Sombreamento das fontes*/
}

.homeContainer h2{
    color: aliceblue; /*Cor da fonte*/
    font-size: 40px; /*Tamanho da fonte*/
    font-weight: bold; /*Fonte negrita*/
    text-transform: uppercase; /*Deixar a fonte maiúscula*/
    text-shadow: 8px 8px 12px darkred; /*Sombreamento das fontes*/
}


/*Sobre Nós*/

#sobre{ /*Base geral*/
    height: 700px; /*Altura total do id*/
}

.sobreContainer h1{
    font-size: 40px; /*Altura da fonte*/
    color: darkred; /*Cor da fonte*/ 
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
    text-transform: uppercase; /*Deixar a fonte maiúscula*/
    text-align: center; /*Deixar palavra no centro*/
}

.sobreContainer img{ 
    padding: 100px 20px; /*Distanciamento dos elementos das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
}

.texto{ /*Edição do texto em massa*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    width: 55em; /*Largura*/
    padding: 30px; /*Distanciamento das bordas*/
}

.sobreContainer p{
    color: black; /*Cor da fonte*/
    font-weight: bold; /*Fonte em negrita*/
    font-size: 15.5px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Distanciamento do texto das bordas*/
}


/*Frotas*/

#frota { /*Base geral*/
    height: 1700px; /*Altura total do id*/
    
}

.frotaContainer{
    background-image: url('/img/frota5edit.png');
    padding: 15em 10px; /*Distância do conteúdo das bordas*/
    background-position: center; /*Define onde a imagem de fundo será posicionada*/
    background-size: cover; /*Especifica o tamanho da imagem de fundo*/
    background-attachment: scroll; /*Define se a imagem de fundo vai rolar junto com o bloco*/
    margin-top: -30px; /*Distanciamento da imagem das bordas*/
}

.frotaContainer h1{
    color: darkred; /*Cor da fonte*/
    font-size: 50px; /*Tamanho da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
}

.frotaContainer h2{
    color: darkred; /*Cor da fonte*/
    font-size: 25px; /*Tamanho da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Negrito*/
}

.frotaGeral ul{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    width: 90%; /*Largura*/
    position: relative; /*Posição de um elemento (direita, esquerda)*/
}

.moto h1{
    font-size: 50px; /*Tamanho da fonte*/
    text-align: center; /*Centralização da fonte*/
    color: darkred; /*Cor da fonte*/
    text-shadow: 8px 8px 12px black; /*Sombreamento*/
    font-weight: bold; /*Fonte em negrito*/
    text-transform: uppercase; /*Fonte em maíscula*/
    margin-top: 50px; /*Distanciamento do item da borda superior*/
}

.moto img{
    padding: 100px 20px; /*Distanciamento dos elementos das bordas*/
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*função para empurrar um elemento para esquerda ou direita, permitindo que os outros elementos possam organizar em torno dele*/
    background-attachment: fixed; /*Define se a imagem vai rolar junto com o bloco*/
    margin-top: -170px; /*Distanciamento do item da borda superior*/

}

.entregaMoto{
    display: table-cell; /*Display table-cell indica a estrutura de tabela (pra ficar uma ao lado da outra)*/
    float: left; /*Função para empurar um elemento para a esquerda ou direita*/
    width: 55em; /*Largura*/
    padding: 30px;/*Distanciamento das bordas*/
    margin-top: -10px; /*Distanciamento do item da borda superior*/
}

.moto p{
    color: black; /* Cor da fonte*/
    font-weight: bold; /*Fonte em negrito*/
    font-size: 15px; /*Tamanho da fonte*/
    margin: 1px 20px 1px; /*Distanciamento das bordas*/
}